<section class="mw7 center">
  <h2 class="athelas ph3 ph0-l"></h2>
  <article class="pv4 bt bb b--black-10 ph3 ph0-l">
    <div class="flex flex-column flex-row-ns">
      <div class="w-100 w-60-ns pr3-ns order-2 order-1-ns">
        <h1 class="f3 athelas mt0 lh-title">{{ headlines.headline.title }}</h1>
        <p class="f5 f4-l lh-copy athelas">
          {{ headlines.headline.content }}
        </p>
      </div>
      <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-40-ns">
        <img src="{{ headlines.headline.image }}" class="db" alt="Photo of a dimly lit room with a computer interface terminal." style="border-radius: 5px">
      </div>
    </div>
    <p class="f6 lh-copy gray mv0">By <span class="ttu">{{ headlines.headline.source }}</span></p>
    <time class="f6 db gray">{{ headlines.headline.date }}</time>
  </article>
</section>

<ul class="list pl0 mt0 measure center">
  <h3>Press record to leave a reaction</h3>
  <li class="flex items-center lh-copy pa3 ph0-l bb b--black-10">

    <canvas id="analyser" ></canvas>
    <a id="record" ng-click="headlines.toggleRecording($event);"><img src="http://iconshow.me/media/images/ui/ios7-icons/png/512/mic.png" alt=""></a>

  </li>
</ul>

<ul class="list pl0 mt0 measure center">
  <li
  class="flex items-center lh-copy pa3 ph0-l bb b--black-10" ng-repeat="reaction in headlines.headline.reactions track by $index">
    <img class="w2 h2 w3-ns h3-ns br-100" ng-src="{{reaction.user.image}}"/>
    <div class="pl3 flex-auto">
      <audio id="reaction{{$index}}" src="{{ reaction.url }}"></audio>
      <button class="playpause" ng-class="{ 'pause': headlines.activeClass === 'reaction{{$index}}', 'play': headlines.activeClass !== 'reaction{{$index}}' }" ng-click="headlines.play($index)"></button>
      <span class="f8  black-70">{{ reaction.user.user_name }}</span><br>
      <span class="f6  black-70">{{ reaction.created_at | date: medium }}</span>
    </div>
    <!-- {{reaction.id}} -->
    <a href="javascript:void(0)" ng-click="headlines.reactionsDelete(reaction.id)">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8RUJd8ibu7O-tc-aJfB8agL_wEGx6CXlRqP5RtXUR-bQYVtgI" style="height: 30px; width: 30px" alt="">
    </a>
  </li>
</ul>


<!-- <article ng-repeat="reaction in headlines.headline.reactions">
<a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue" ui-sref="headlinesShow({ id: headline.id})">
<div class="dtc v-top pl2">
<dl class="mt2 f6">
<audio controls src="{{ reaction.url }}"></audio>
</dl>
</div>
</a>
</article> -->
<!-- </section> -->
