// Import all of your scss files here


canvas {
	display: inline-block;
	background: white;
	width: 455px;
	height: 60px;
	border: solid 2px grey;
  border-radius: 5px;
}
#controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 20%;
	width: 100%;
}
#record {
  margin-top: 30px;
  float: left;
  height: 50px;
  width: 50px;
            }
#record.recording {
	background: red;
  height: 50px;
  width: 50px;
  border-radius: 30px

}
#save, #save img { height: 10vh; }
#save { opacity: 0.25;}
#save[download] { opacity: 1;}
#viz {
	// height: 40%;
	// width: 10%;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-around;
	// align-items: center;
}
@media (orientation: landscape) {
	body { flex-direction: row;}
	#controls { flex-direction: column; height: 100%; width: 10%;}
	#viz { height: 100%; width: 90%;}
}

#audioplayer{
	width: 480px;
	height: 60px;
	margin: 50px auto auto auto;
  border: solid;
}

.playpause {
    height:60px;
    width: 60px;
    border: none;
    background-color: white;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background-image: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause{background-image: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

#timeline{
	width: 400px;
	height: 20px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);

}
#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);

}



//record button
